extends ../layout

block content
  div(class='container-fluid')
    div(class='row') 
      div(class='col-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li
              a(href='/') #{t('home.local_library')}
            li
              a(href='/books/list') #{t('home.book')}
            li
              a(href='/authors/list') #{t('home.author')}
            li
              a(href='/genres/list') #{t('home.genre')}
            li
              a(href='/bookInstances/list') #{t('home.book_instance')}

      hr()

      div(class='col-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li
              a(href='/authors/create') #{t('home.create_author')}
            li
              a(href='/genres/create') #{t('home.create_genre')}
            li
              a(href='/books/create') #{t('home.create_book')}
            li
              a(href='/bookInstances/create') #{t('home.create_bookinstance')}
      div(class='row-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li(class='inline')
              a(href=`/genres/${genre.id}/delete?lang=en`) #{t('home.english_translations')}
            li(class='inline-between') 
              p |
            li(class='inline') 
              a(href=`/genres/${genre.id}/delete?lang=vi`) #{t('home.vietnamese_translations')}
            .content
            h1 #{t("genre.delete")}: #{genre.name}

            if books.length
              p #[strong #{t("genre.delete_noti")}]
              div(class="copy_title")
                h4 #{t('home.book')} 
                dl
                  each book in books
                    dt
                      a(href=`/books/${book.id}/detail`) #{book.title}
            else
              p #{t("genre.delete_message")}

              form(method='POST' action=`/genres/${genre.id}/delete`)
                div.form-group
                  input#bookid.form-control(type='hidden' name='genreId', value=genre.id )
                button.btn.btn-primary(type='submit') #{t("genre.delete")}
