extends ../layout

block content
  div(class='container-fluid')
    div(class='row') 
      div(class='col-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li
              a(href='/') #{t('home.local_library')}
            li
              a(href='/books/list') #{t('home.book')}
            li
              a(href='/authors/list') #{t('home.author')}
            li
              a(href='/genres/list') #{t('home.genre')}
            li
              a(href='/bookInstances/list') #{t('home.book_instance')}

      hr()

      div(class='col-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li
              a(href='/authors/create') #{t('home.create_author')}
            li
              a(href='/genres/create') #{t('home.create_genre')}
            li
              a(href='/books/create') #{t('home.create_book')}
            li
              a(href='/bookInstances/create') #{t('home.create_bookinstance')}
      div(class='row-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li(class='inline')
              a(href=`/bookInstances/${bookInstance.id}/delete?lang=en`) #{t('home.english_translations')}
            li(class='inline-between') 
              p |
            li(class='inline') 
              a(href=`/bookInstances/${bookInstance.id}/delete?lang=vi`) #{t('home.vietnamese_translations')}
            .content
            h1  #{bookInstance.book.title} - #{bookInstance.imprint}
            p #[strong #{t("bookinstance.delete_message")} ]

              form(method='POST' action=`/bookInstances/${bookInstance.id}/delete`)
                div.form-group
                  input#authorid.form-control(type='hidden' name='bookInstanceId', value=bookInstance.id )
                button.btn.btn-primary(type='submit') #{t("bookinstance.delete")}
